[core]
editor = vim
excludesfile = ~/.gitignore
pager = delta

[init]
defaultBranch = main

[user]
name = giwan
email = giwan.dev@gmail.com

[commit]
verbose = true

[branch]
sort = -committerdate

[rebase]
missingCommitsCheck = error
autosquash = true
autostash = true

[merge]
conflictstyle = zdiff3

[pull]
rebase = true

[push]
default = simple

[alias]
cFORCE = c --no-verify
psFORCE = ps -f
unstage = restore -S

a = add
b = branch
chp = cherry-pick
c = commit
override = commit --amend -C HEAD
fixup = commit --fixup
l = log --pretty='\
%C(dim)%m %an, %cr%C(auto)%d%n\
%C(blue)%m %h %C(auto)%<(100,mtrunc)%s%n\
%w(120, 2, 2)%-b%-%n\
'
s = show --pretty='\
%C(dim)%m %an, %cr%C(auto)%d%n\
%C(blue)%m %h %C(auto)%<(100,mtrunc)%s%n\
%w(120, 2, 2)%-b%-\
'
m = merge
mc = m --continue
ma = m --abort
pl = pull -p
ps = push
r = rebase
rc = r --continue
ra = r --abort
rs = restore
discard = restore -- .
rvt = revert
sh = stash
shp = sh pop
sw = switch
gone = ! "git fetch -p &&\
git for-each-ref --format '%(refname:short) %(upstream:track)'\
| awk '$2 == \"[gone]\" {print $1}'\
| xargs -r git branch -D"
stat = status

[interactive]
diffFilter = delta --color-only

[diff]
algorithm = histogram
submodule = log
colorMoved = default

[status]
submoduleSummary = true

[log]
abbrevCommit = true

[submodule]
recurse = true

[rerere]
enabled = true

[github]
user = giwan-dev

[delta]
navigate = true
light = true
line-numbers = true

[include]
path = ~/dotfiles/home/company.gitconfig
